
<div class="card-container">
  
  <h2>{{ title }}</h2>
  
  <div>
    <div class="amount-container">
      <h3>Total Amount</h3>
      {{totalMoney}}
    </div>
  </div>
  <div>
    <table class="table table-striped">  
      <thead>  
          <tr>  
            <th>ID</th>  
            <th>Name</th>  
            <th>Amount</th>  
          </tr>  
      </thead>  
      <tbody>  
        <tr *ngFor="let data of data | slice:0:3">  
          <td>{{ data.id }}</td>  
          <td>{{ data.name }}</td>  
          <td>{{ data.amount }}</td>  
        </tr>  
      </tbody>  
    </table> 
    
    <button class="toaster-button"(click)="showToaster()">
      Show Toaster
    </button>
  </div>
  <div class="toaster-log-container">Toaster Log </div>

</div>
<router-outlet></router-outlet>
